* {
    margin: 0;
    padding: 0;
}

.conteiner {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.heading-item {
    font-family: 'Lato', sans-serif;
    font-style: Regular;
    font-size: 30px;
    line-height: 36px;
    line-height: 100%;
    margin-top: 40px;
    color: #222222;
}

.item-text {
    font-family: 'Lato', sans-serif;
    font-style: Regular;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    color: #9F9F9F;
    margin-top: 6px;
    margin-bottom: 48px;
}

.products-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    padding: 10px;
    align-items: center;
    text-align: left;
}

.product {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 30%;
    margin-bottom: 30px;
    background: #F8F8F8;
}

.image {
    width: 360px;
    height: 420px;
}

.product-dsc {
    margin-top: 25px;
    margin-left: 16px;       
}

.product-name {
    font-family: 'Lato', sans-serif;
    font-style: Regular;
    font-size: 13px;
    line-height: 16px;
    line-height: 100%;
    color: #000000;
}

.dsc {
    font-family: 'Lato', sans-serif;
    font-style: Light;
    font-size: 14px;
    line-height: 17px;
    line-height: 100%;
    color: #5D5D5D;
    margin-top: 16px;
}

.price {
    font-family: 'Lato', sans-serif;
    font-style: Regular;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    color: #F16D7F;
    margin-top: 18px;
    margin-bottom: 20px;
}

.browse_product {
    font-family: 'Lato', sans-serif;
    font-style: Regular;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    color: #FFFFFF;
    background-color: #F16D7F;
    width: 211px;
    height: 47px;
    margin-bottom: 50px;
    border: 1px solid #FF6A6A;
}



